@import url(https://fonts.googleapis.com/css?family=Gugi|Roboto|Jua|Lobster);:root {
  --white: #FFFFFF;
  --red: #D84D4D;
  --light-black: #414141;
  --overlay: rgba(0,0,0,0.5);
  --success: #449D44;
  --danger: #FF4436;
  --warning: #EC971F; }

body {
  overflow: hidden;
  margin: 0 0; }
  body input, body button {
    outline: none; }
  body a, body a:hover {
    text-decoration: none; }
  body textarea:focus {
    outline: none; }
.header {
  background: var(--white); }
.app {
  display: grid;
  grid-template-rows: 60px auto 30px;
  height: 100vh; }
.footer {
  background: var(--white);
  position: relative;
  font-family: 'Roboto', sans-serif; }
  .footer .copyright {
    text-align: center;
    position: relative;
    font-size: 12px;
    top: 5px;
    color: var(--red);
    line-height: 20px; }
    .footer .copyright a {
      color: var(--red); }
.recipe-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  margin-top: 40px;
  grid-row-gap: 20px; }

.recipe-modal-container.modal-open {
  overflow: hidden; }

.recipe-modal-container {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden; }
  .recipe-modal-container .add-recipe {
    color: var(--white);
    background: var(--red);
    position: fixed;
    top: 0;
    right: 0;
    margin: 47px 30px;
    font-size: 29px;
    font-weight: bold;
    border: solid 1px var(--red);
    padding: 5px 14px;
    border-radius: 100%;
    z-index: 10000;
    box-shadow: 0 0 8px var(--light-black); }
  .recipe-modal-container .add-recipe:hover {
    cursor: pointer; }

@media screen and (max-width: 783px) {
  .recipe-container {
    grid-template-columns: 1fr; } }
.nav {
  background: var(--white);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 0 20px var(--light-black); }
  .nav .app-title {
    margin: 0 0;
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 28px;
    margin-left: 15px; }
    .nav .app-title a {
      color: var(--red);
      float: left;
      height: 50px;
      padding: 10px 10px;
      line-height: 50px; }
.recipe {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  line-height: 100px;
  padding-left: 30px;
  color: #FAFAFA;
  font-family: 'Jua';
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out; }
  .recipe:hover {
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media screen and (max-width: 783px) {
  .recipe {
    margin-left: 15px;
    margin-right: 15px; } }
.modal-overlay {
  background: var(--overlay);
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 10000; }
  .modal-overlay .modal {
    background: var(--white);
    position: relative;
    top: 25%;
    margin: 0px auto;
    width: 70%;
    max-height: 500px;
    padding: 35px 25px;
    border-radius: 5px; }
    .modal-overlay .modal .recipe-input, .modal-overlay .modal .recipe-ingredients {
      width: 98%;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      margin: 0 0;
      display: block;
      border: solid 1px var(--light-black);
      border-radius: 5px;
      margin-bottom: 10px;
      font-size: 18px; }
    .modal-overlay .modal .recipe-ingredients {
      resize: none;
      height: 70px; }
    .modal-overlay .modal .btn {
      font-family: 'Roboto';
      color: white;
      padding: 7px 17px;
      border-radius: 5px;
      margin: 20px 5px auto 5px;
      transition: all 0.2s ease-in-out; }
    .modal-overlay .modal .btn:hover {
      cursor: pointer;
      box-shadow: 0 0 5px #414141; }
    .modal-overlay .modal .btn-danger {
      border: solid 1px var(--danger);
      background: var(--danger); }
    .modal-overlay .modal .btn-success {
      border: solid 1px var(--success);
      background: var(--success); }
    .modal-overlay .modal .btn-warning {
      border: solid 1px var(--warning);
      background: var(--warning); }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/