.footer {
  background: var(--white);
  position: relative;
  font-family: 'Roboto', sans-serif;

  .copyright {
    text-align: center;
    position: relative;
    font-size: 12px;
    top: 5px;
    color: var(--red);
    line-height: 20px;

    a {
      color: var(--red);
    }
  }
}