@import url('https://fonts.googleapis.com/css?family=Gugi|Roboto|Jua|Lobster');

:root {
  --white: #FFFFFF;
  --red: #D84D4D;
  --light-black: #414141;
  --overlay: rgba(0,0,0,0.5);
  --success: #449D44;
  --danger: #FF4436;
  --warning: #EC971F;
}

body {
  overflow: hidden;
  margin: 0 0;

  input, button {
    outline: none;
  }

  a, a:hover {
    text-decoration: none;
  }

  textarea:focus {
    outline: none;
  }
}